// Settings ---- Sass vars, etc.
// Tools ------- Functions and mixins.
// Generic ----- Generic, high-level styling, like resets, etc.
// Base -------- Unclasses HTML elements (e.g. `h2`, `ul`).
// Objects ----- Objects and abstractions.
// Components -- Your designed UI elements (inuitcss includes none of these).
// Structures --
// Trumps ------ Overrides and helper classes.


// SETTINGS:
@import "settings/variables";
@import "../../../../node_modules/inuit-defaults/settings.defaults";

// TOOLS:
@import "../../../../node_modules/inuit-functions/tools.functions";
@import "../../../../node_modules/inuit-mixins/tools.mixins";

@import "tools/mixins";
@import "tools/helpers";

// GENERIC:
@import "../../../../node_modules/inuit-normalize/generic.normalize";
@import "../../../../node_modules/inuit-box-sizing/generic.box-sizing";
@import "../../../../node_modules/inuit-reset/generic.reset";
@import "../../../../node_modules/inuit-shared/generic.shared";

// BASE:
@import "base/container";
@import "base/sr-only";
@import "base/typography";
@import "../../../../node_modules/inuit-headings/base.headings";
@import "../../../../node_modules/inuit-paragraphs/base.paragraphs";
@import "../../../../node_modules/inuit-lists/base.lists";
@import "../../../../node_modules/inuit-images/base.images";
@import "../../../../node_modules/inuit-page/base.page";

// OBJECTS:
//@import "../../../../node_modules/inuit-block/objects.block";
//@import "../../../../node_modules/inuit-box/objects.box";
@import "../../../../node_modules/inuit-buttons/objects.buttons";
@import "../../../../node_modules/inuit-flag/objects.flag";
@import "../../../../node_modules/inuit-list-bare/objects.list-bare";
//@import "../../../../node_modules/inuit-list-block/objects.list-block";
@import "../../../../node_modules/inuit-list-inline/objects.list-inline";
@import "../../../../node_modules/inuit-list-ui/objects.list-ui";
@import "../../../../node_modules/inuit-media/objects.media";

@import "../../../../node_modules/inuit-pack/objects.pack";
@import "../../../../node_modules/inuit-tables/objects.tables";
@import "../../../../node_modules/inuit-tabs/objects.tabs";

@import "vendor/csswizardry-grids";

// COMPONTENTS:
@import "components/svgIcons";
@import "components/buttons";
@import "components/dropdown";
@import "components/flex-list";
@import "components/links-list/links-list";
@import "components/brand";
@import "components/date";
@import "components/tag";
@import "components/link";
@import "components/images/images";
@import "components/navbar/nav";
@import "components/navbar/navbar";
@import "components/navbar/navbar__header";
@import "components/navbar/navbar__channel";
@import "components/navbar/navbar__form";
@import "components/navbar/navbar__user";


// STRUCTURES:
@import "structures/header";
@import "structures/block";
@import "structures/calendar/calendar-card";
@import "structures/calendar/calendar-section";
@import "structures/teaser";


// TRUMPS:
@import "../../../../node_modules/inuit-clearfix/trumps.clearfix";
@import "../../../../node_modules/inuit-headings-trumps/trumps.headings";
@import "../../../../node_modules/inuit-spacing/trumps.spacing";

@import "../../../../node_modules/inuit-print/trumps.print";

body {
	font-family: sans-serif;
}

.demo-block {
	padding: 10px;
	background: $background--lighter;
}
