---
notes: |
  These are notes associated with this `button` component.
---

<div class="buttons">
  <button class="btn--primary">Primary button</button>
  <button class="btn--secondary">Secondary button</button>
  <button class="btn--ghost">Ghost button</button>
  <button class="btn--disabled">Disabled button</button>
  <a class="btn btn--primary">Link button</a>
  <button class="btn--success">Succes button</button>
  <button class="btn--info">Info button</button>
  <button class="btn--warning">Warning button</button>
  <button class="btn--danger">Danger button</button>
</div>
