<ul class="count-down list-bare pack color-box__light-blue">
	<li class="count-down__item pack__item">
		<strong class="count-down__value">00</strong>
		<span class="count-down__label">Days</span>
	</li>
	<li class="count-down__item pack__item">
		<strong class="count-down__value">00</strong>
		<span class="count-down__label">Hours</span>
	</li>
	<li class="count-down__item pack__item">
		<strong class="count-down__value">00</strong>
		<span class="count-down__label">Minutes</span>
	</li>
	<li class="count-down__item pack__item">
		<strong class="count-down__value">00</strong>
		<span class="count-down__label">Seconds</span>
	</li>
</ul>

