---
class: color-box__light-blue
---

<ul class="count-down list-bare pack {{class}}">
	<li class="count-down__item pack__item">
		<strong class="count-down__value">00</strong>
		<span class="count-down__label">Days</span>
	</li>
	<li class="count-down__item pack__item">
		<strong class="count-down__value">00</strong>
		<span class="count-down__label">Hours</span>
	</li>
	<li class="count-down__item pack__item">
		<strong class="count-down__value">00</strong>
		<span class="count-down__label">Min</span>
	</li>
	<li class="count-down__item pack__item">
		<strong class="count-down__value">00</strong>
		<span class="count-down__label">Sec</span>
	</li>
</ul>

