<section class="image-set">
	<figure class="image-set__slide">
		<div class="image-set__image-wrapper">
			<img class="content" src="../../assets/toolkit/images/dummy.jpg" alt="">
		</div>
		<figcaption class="visually-hidden">
			<h2 class="js-caption__text">Caption 1</h2>
		</figcaption>
	</figure>

	<figure class="image-set__slide">
		<div class="image-set__image-wrapper">
			<img class="content" src="../../assets/toolkit/images/dummy_logo.jpg" alt="">
		</div>
		<figcaption class="visually-hidden">
			<h2 class="js-caption__text">Caption 2</h2>
			<a href="#" class="js-caption__link">Download</a>
		</figcaption>
	</figure>

	<figure class="image-set__slide">
		<div class="image-set__image-wrapper">
			<img class="content" src="../../assets/toolkit/images/dummy.jpg" alt="">
		</div>
		<figcaption class="visually-hidden">
			<h2 class="js-caption__text">Caption 3</h2>
			<a href="#" class="js-caption__link"></a>
		</figcaption>
	</figure>

	<figure class="image-set__slide">
		<div class="image-set__image-wrapper">
			<img class="content" src="../../assets/toolkit/images/dummy_logo.jpg" alt="">
		</div>
		<figcaption class="visually-hidden">
			<h2 class="js-caption__text">Caption 4</h2>
			<a href="#" class="js-caption__link">Link</a>
		</figcaption>
	</figure>
</section>
<div class="image-set__caption js-caption">
	<h2 class="image-set__heading js-caption__text"></h2>
	<a class="link link--simple image-set__link js-caption__link" href="#">Download</a>
</div>


