<section class="main-slider">

  <a class="main-slider__slide" href="">
    <figure class="main-slider__image-wrapper">
      <div class="main-slider__image" style='background-image: url(../assets/toolkit/images/dummy.jpg)'>
        <img src="../assets/toolkit/images/dummy.jpg" alt="" class="visuallyhidden" />
      </div>
      <figcaption class="main-slider__header">
        <h2 class="main-slider__heading">Heading 2</h2>
        <time class="main-slider__date small-text"> 2 February 2016 14:55 CET</time>
      </figcaption>
    </figure>
  </a>

    <a class="main-slider__slide" href="">
      <figure class="main-slider__image-wrapper">
        <div class="main-slider__image" style='background-image: url(../assets/toolkit/images/dummy.jpg)'>
          <img src="../assets/toolkit/images/dummy.jpg" alt="" class="visuallyhidden" />
        </div>
        <figcaption class="main-slider__header">
            <h2 class="main-slider__heading">Heading 2</h2>
            <time class="main-slider__date small-text"> 2 February 2016 14:55 CET</time>
        </figcaption>
      </figure>
    </a>

    <a class="main-slider__slide" href="">
      <figure class="main-slider__image-wrapper">
        <div class="main-slider__image" style='background-image: url(../assets/toolkit/images/dummy.jpg)'>
          <img src="../assets/toolkit/images/dummy.jpg" alt="" class="visuallyhidden" />
        </div>
        <figcaption class="main-slider__header">
            <h2 class="main-slider__heading">3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, placeat laudantium quibusdam iure temporibus et molestiae deserunt maxime atque veritatis ullam animi quae est quidem illum expedita totam, eos. Repellat. </h2>
            <time class="main-slider__date small-text"> 2 February 2016 14:55 CET</time>
        </figcaption>
      </figure>
    </a>

    <a class="main-slider__slide" href="">
      <figure class="main-slider__image-wrapper">
        <div class="main-slider__image" style='background-image: url(../assets/toolkit/images/dummy.jpg)'>
          <img src="../assets/toolkit/images/dummy.jpg" alt="" class="visuallyhidden" />
        </div>
        <figcaption class="main-slider__header">
            <h2 class="main-slider__heading"> 4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, placeat laudantium quibusdam iure temporibus et molestiae deserunt maxime atque veritatis ullam animi quae est quidem illum expedita totam, eos. Repellat. </h2>
            <time class="main-slider__date small-text"> 2 February 2016 14:55 CET</time>
        </figcaption>
      </figure>
    </a>
</section>
