<div class="navbar__header pack__item">

  <a class="navbar__brand btn btn--plain" href="#">Brand</a> <!-- btn classes only for spacing, to be removed later -->

  <div class="dropdown navbar__channel__menu">

    <button type="button" class="navbar__channel__toggle btn btn--plain" id="channelToggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
      <span class="">Channel</span>
      <span class="icon-placeholder sr-only">*</span>
    </button>

    <ul class="navbar__channel__collapse list-bare dropdown-menu" aria-labelledby="channelToggle">
      <li><a href="#">Channel 1</a></li>
      <li><a href="#">Another Channel</a></li>
      <li><a href="#">Something else here</a></li>
      <li><a href="#">Separated link</a></li>
      <li><a href="#">One more separated link</a></li>
    </ul>
  </div>
</div>
