<div class="collapse navbar__collapse" id="navbarCollapse">
  <div class="pack pack--auto pack--middle">
      <ul class="nav list-inline pack__item">
        <li class="nav__dropdown">
          <div class="dropdown">
            <button id="navDropdownToggle" class="nav__dropdown-toggle btn btn--plain btn--small" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></button>
            <ul class="nav__dropdown-menu dropdown-menu" aria-labelledby="navDropdownToggle">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </div>
        </li>
        <li class="active"><a href="#">News <span class="sr-only">(current)</span></a></li>
        <li><a class="btn btn--plain btn--small" href="#">Calendar</a></li>
        <li><a class="btn btn--plain btn--small" href="#">Gallery</a></li>
        <li><a class="btn btn--plain btn--small" href="#">Contacts</a></li>
        <li><a class="btn btn--plain btn--small" href="#">2018 Media Kit</a></li>
      </ul>

      {{> navbar.navbar__right}}

    </ul>
  </div>
</div>
