.color-box {
	&__light-blue {
		background: $color--brand-secondary;
	}

	&__blue {
		background: $color--brand-primary;
	}

	&__light-green {
		background: $color--green;
	}

	&__red {
		background: $color--red;
	}
}
