.date__wrapper {
  padding: 30px 20px 20px;
}

.date {
  font-size: 16px;
  margin-bottom: 0;
}

.date__highlight {
  font-size: 60px;
  font-family: "Open Sans";
  font-weight: bold;
  display:block;
  margin: 0 auto;
}

.date__small {
}
