.links-list {
}

.links-list__item:not(:last-child) {
  border-bottom: 1px solid $border-color--light;
}

.links-list__link {
  padding: 5px 0;
  display: block;
  font-size: 14px;
  &--with-icon {
    padding-right: 30px;
    position:relative;
  }
  &:hover, &:focus, &:active {
    color: darken($link-color, 10);
    .links-list__icon {
      fill: currentColor;
    }
  }
}

.links-list__icon {
  display: inline-block;
  position:absolute;
  height: 23px;
  width: 20px;
  top: 5px;
  right: 5px;
  fill: $link-color;
}
