$display-icons-preview: true;
$icons-to-preview: "";


@each $iconName, $iconColors in $svgIcons {
  @each $colorName, $colorValue in $iconColors {

    $icons-to-preview: $icons-to-preview , #{$iconName + '--' + $colorName};

    .icon-#{$iconName}--#{$colorName} {
      display: inline-block;
      fill: $colorValue;
      margin: 10px;
      width: 64px;
      height: 64px;
    }

  }
}

/* icons preview stuff */
@if ($display-icons-preview == true ) {
  body::before {
    content: "#{$icons-to-preview}";
		display: none;
	}
}

body::after {
	content: "#{$display-icons-preview}";
	display: none;
}

.icon-preview {
	ol {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  li {
    margin: 20px;
    flex:1;
  }
}
