<ul class="links-list links-list--plain list-bare">
  <li class="links-list__item"><a href="" class="links-list__link link--simple">Development Projects Fact Sheet</a></li>
  <li class="links-list__item"><a href="" class="links-list__link link--simple">Sustainability</a></li>
  <li class="links-list__item"><a href="" class="links-list__link link--simple">Development Globe</a></li>
  <li class="links-list__item">
    <a href="" class="links-list__link links-list__link--with-icon link--simple">
      Anti-Discrimination Football for Hope Fair Play Footbal
      <svg class="links-list__icon icon-flower--grey">
        <use xlink:href="assets/toolkit/svgIcons/svgIcons.svg#flower"></use>
      </svg>
    </a>
  </li>
  <li class="links-list__item"><a href="" class="links-list__link link--simple">Projects Financial Assistance Education Technical Support Medic</a></li>
</ul>
