$container-large--max-width: 1900px;
$container-medium--max-width: 1170px;

$color--ebony-clay-grey: #2A3341;
$color--slate-grey: #6A788D;
$color--geyser-grey: #D5DAE6;
$color--dark-blue: #364760;
$color--light-blue: #326295;

$background--dark: $color--dark-blue;
$background--medium: $color--light-blue;
$background--lighter: #eff2f9;
$background--lightest: #fff;

$text-color: $color--ebony-clay-grey;
$text-color--medium: $color--slate-grey;
$text-color--negative: #fff;

$link-color: $color--light-blue;

$border-color--light: $color--geyser-grey;





$color--brand-primary: "rgb(50, 98, 149)";
$color--brand-secondary: "rgb(0, 144, 212)";
$color--brand-dark: "rgb(33, 66, 102)";

$color--light: "rgb(255, 255, 255)";
$color--dark: "rgb(18, 32, 49)";
$color--grey-light: "rgb(241, 243, 248)";
$color--grey: "rgb(223, 227, 235)";
$color--grey-dark: "rgb(120, 120, 135)";

$color--green: "rgb(134, 181, 25)";
$color--orange: "rgb(240, 147, 22)";
$color--yellow: "rgb(255, 208, 0)";
$color--purple: "rgb(138, 26, 103)";
$color--red: "rgb(209, 0, 14)";


$inuit-enable-btn--small:   true;

$inuit-enable-pack--auto:   true;
$inuit-enable-pack--tiny:   true;
$inuit-enable-pack--small:  true;
$inuit-enable-pack--large:  true;
$inuit-enable-pack--huge:   true;
$inuit-enable-pack--rev:    true;
$inuit-enable-pack--middle: true;
$inuit-enable-pack--bottom: true;

$inuit-global-border-box: true;

$breakpoints: (
	'palm' '(max-width: 768px)',
	'lap' '(min-width: 769px) and (max-width: 1280px)',
	'lap-and-up' 'screen and (min-width: 769px)',
	'portable' '(max-width: 1280px)',
	'desk' '(min-width: 1281px)'
);

$use-markup-fix: false;

$svgIcons: (
	'arrow-right': (
			'white': $color--light,
			'blue': $color--light-blue
	),

	'logo': (
			'white': $color--light,
			'blue': $color--light-blue
	),

)
