$container-large--max-width: 1900px;
$container-medium--max-width: 1170px;

$color--dark-blue: #364760;
$color--light-blue: #326295;

$background--dark: $color--dark-blue;
$background--medium: $color--light-blue;
$background--lighter: #eff2f9;
$background--lightest: #fff;

$text--color-negative: #fff;

$inuit-enable-btn--small:   true;

$inuit-enable-pack--auto:   true;
$inuit-enable-pack--tiny:   true;
$inuit-enable-pack--small:  true;
$inuit-enable-pack--large:  true;
$inuit-enable-pack--huge:   true;
$inuit-enable-pack--rev:    true;
$inuit-enable-pack--middle: true;
$inuit-enable-pack--bottom: true;

$inuit-global-border-box: true;

$breakpoints: (
	'palm' '(max-width: 768px)',
	'lap' '(min-width: 769px) and (max-width: 1280px)',
	'lap-and-up' 'screen and (min-width: 769px)',
	'portable' '(max-width: 1280px)',
	'desk' '(min-width: 1281px)'
);

$use-markup-fix: false;
