// menu
.f-menu {
	@include border-box;
	@include transition;
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-$menu-width, 0);
	width: $menu-width;
	height: 100%;
	z-index: 1;
	background-color: map-get($colors, menu-background);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	.f-menu-active & {
		transform: translate(0, 0);

	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
	}

	> ul {
		margin-top: 0;
		margin-bottom: 1rem;
		margin-left: 1.5rem;

		> li {
			margin-top: 1rem;
		}
	}

	li {
		position: relative;
		list-style-type: none;
		margin-top: 0;
		margin-bottom: 0;
	}

	a {
		display: block;
		padding: 0.5rem 2rem;
		color: map-get($colors, menu-text) !important;
		text-decoration: none;
		font-size: 0.75rem;
		line-height: 1;

		&:hover {
			color: map-get($colors, menu-text) !important;
			text-decoration: underline;
		}

		&.f-active {
			box-shadow: inset 3px 0 0 0 map-get($colors, accent);
		}
	}

	.f-menu__heading {
		padding-left: 1.6rem;
		font-weight: 700;
		font-size: .6875rem;
		text-transform: uppercase;
		display: inline-block;

		&:hover {
			color: map-get($colors, normal);
		}
	}
}

.f-menu-accordion{
	&__list {
		height: 0px;
		overflow: hidden;
		margin-left: 0;
	}

	&__toggle {
		border: none;
		background: none;
		padding: .5rem;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		color: map-get($colors, menu-text);
		line-height: 1;
		font-size: .6875rem;
		transform: rotate(-90deg);

		&:focus, &:active {
			outline: none;
		}

		&:after {
			content: '▼';
		}
	}

	&.is-open  {
		.f-menu-accordion__toggle {
			transform: rotate(0deg);
		}
		.f-menu-accordion__list {
			height: auto;
		}
	}
}

