.calendar-section {
  padding: 70px 20px;
}

.calendar-section__heading {
  padding: 0 10px;
  font-size: 20px;
  font-family: "Open Sans";
  color: $text-color;
  line-height: 1.2;
  font-weight: normal;
}
