.links-list--plain {

  .links-list__link--with-icon {
    padding-right: 0;
    padding-left: 30px;
  }

  .links-list__link {
    display: inline-block;
  }

  .links-list__icon {
    left: 0;
  }

}
