.navbar__header {
  @include diagonal-clip-path-element($background--medium);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background: $background--medium;
  padding-right: 10px;
}

.navbar__brand {
  color: $text--color-negative;
}

.sr-only {
}

.icon-placeholder {
}
