
.nav {
  width: 100%;
  max-width: 100%;
  background: $background--dark;
  @include diagonal-clip-path-element($background--dark);
  a {
    color: $text--color-negative;
  }
}

.nav__dropdown {
}

.nav__dropdown-toggle {
  color: $text--color-negative;
  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    top: -2px;
    border-top: 5px solid currentColor;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;

  }
}

.caret {
}

.nav__dropdown-menu {
}

.active {
}
