.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar__mobile-toggle {
  display: none; //temp
}
.navbar__right {
  background: $background--medium;
  min-width: 210px;
  text-align: right;
}

.navbar__collapse {
  flex: 1;
}
