.navbar__channel__menu {
  display: inline-block;
}
.navbar__channel__toggle {
    .icon {
      display: inline-block;
      margin-left: 2px;
      background: $background--lightest;
      width: 4px;
      height: 4px;
      box-shadow: 6px 0 $background--lightest, 0 -6px $background--lightest, 6px -6px $background--lightest

    }
}
.navbar__channel__dropdown {

}
