.navbar__header {
  background: $background--medium;
  padding-right: 50px;
  position: relative;
  &:after {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25px;
    background: $background--medium;
  }
}

.navbar__brand {
  color: $text--color-negative;
}

.navbar--channel__toggle.collapsed {
}

.sr-only {
}

.icon-placeholder {
}
